<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="./style.css">
    <title>Gallery</title>
</head>

<body>
    <div id="container">
        <h1>Welcome to the Gallery</h1>
        <a href="http://localhost:3000/home">Home</a>
        <div class="img-container">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Steve_Irwin.jpg/532px-Steve_Irwin.jpg"
                alt="">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Steve_irwin_at_Australia_zoo.jpg/520px-Steve_irwin_at_Australia_zoo.jpg"
                alt="">
            <img src="https://thumbor.pijper.io/zHvYsray4Jb5smId659JhGXKwE0=/940x940/top/filters:format(webp)/https://cdn.pijper.io/source/beaumonde/beau-monde/source/GettyImages-1129399-thumbnail.jpg"
                alt="">
        </div>
    </div>
</body>

</html>