<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="./style.css">
    <title>Works of Steve</title>
</head>

<body>
    <div id="container">
        <h1>Steves Work</h1>
        <a href="http://localhost:3000/home">Home!</a>
        <p>In Australia, he was sometimes portrayed as an over-enthusiastic lunatic. Irwin said he knew very well what
            he
            was doing because he had grown up with crocodiles and worked with them intensively on a daily basis. For
            example, his father had given him a python when he was only six years old.
            In 1970, the then eight-year-old Irwin moved with his parents (Bob and Lynn Irwin) to the northeastern state
            of
            Queensland . A year later he learned how to handle crocodiles for the first time.
            Irwin was known for taking on adventures again and again that involved risk, and his life path was littered
            with
            minor accidents.</p>
    </div>
</body>

</html>